.single-voting-card {
  height: 300px;
  width: 300px;
  position: relative;
}

.single-voting-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.single-voting-card .dark-gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
  position: absolute;
  top: 0;
}

.single-voting-card .single-voting-card__top {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 12px;
  padding-right: 34px;
}

.single-voting-card .top-title {
  display: flex;
  align-items: flex-end;
}

.single-voting-card .single-voting-card__top .img-container {
  background-color: rgba(251, 189, 74, 1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.single-voting-card .single-voting-card__top .img-container img {
  width: 15px;
  height: 15px;
}

.single-voting-card .single-voting-card__top span {
  width: 240.171px;
  color: #FFF;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 4px;
}

.single-voting-card span.top-subtitle {
  padding: unset;
  margin: unset;
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
  font-size: 15px;
  margin-left: 34px;
  margin-bottom: 12px;
}

.single-voting-card span.top-legend {
  padding: unset;
  margin: unset;
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
  font-size: 15px;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 12px;
}

.single-voting-card .top-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.single-voting-card .top-actions .img-container {
  margin: unset;
}

.single-voting-card .top-actions .img-container {
  margin: unset;
  background-color: rgba(60, 187, 180, 0.8);
}

.single-voting-card .top-actions .img-container.right {
  margin: unset;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(251, 189, 74, 1);
}

.single-voting-card .top-actions .vote-btn {
  color: #FFF;
  width: 107px;
  height: 38px;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.60);
}

.single-voting-card .single-voting-card__bottom {
  position: absolute;
  bottom: 0;
  height: 36px;
  width: 100%;
  display: flex;
}

.single-voting-card .single-voting-card__bottom .bottom-left {
  width: 50%;
  height: 100%;
  background-color: rgba(60, 187, 180, 0.6);
  padding-left: 10px;
  display: flex;
}

.single-voting-card .single-voting-card__bottom .bottom-left .bottom-left__container  {
  display: flex;
  align-items: center;
}

.single-voting-card .single-voting-card__bottom .bottom-left .bottom-left__container img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.single-voting-card .single-voting-card__bottom .bottom-left .bottom-left__container span {
  color: #FFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.single-voting-card .single-voting-card__bottom .bottom-right {
  width: 50%;
  height: 100%;
  background-color: rgba(249, 173, 29, 0.6);
  padding-right: 10px;
  display: flex;
}

.single-voting-card .single-voting-card__bottom .bottom-right .bottom-right__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.single-voting-card .single-voting-card__bottom .bottom-right .bottom-right__container img {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

.single-voting-card .single-voting-card__bottom .bottom-right .bottom-right__container span {
  color: #FFF;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}