.list-mode {
  position: relative;
  width: 100%;
  height: 142px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), #ccc;
}

.list-mode .list-mode__avatar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  object-fit: cover;
  object-position: top;
  mask-image: linear-gradient(to right, black 50%, transparent 100%);
}

.list-mode .list-mode__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-left: 150px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 56px;
  display: flex;
}

.list-mode .list-mode__content .content-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.list-mode .list-mode__content .content-left .celebrity-name {
  color: #FFF;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}

.list-mode .list-mode__content .content-left .celebrity-description {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-mode .list-mode__content .content-right {
  width: 233px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list-mode .list-mode__content .content-right .time-ago {
  color: #FFF;
  text-align: right;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.list-mode .winner-thumb {
  position: absolute;
  top: 0;
  left: 0;
}
